<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="icon"
      href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"
    />

    <title>Driiv</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/"
    />

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
      <script>
        var options = {
          label: "🌓",
        };
        new Darkmode(options).showWidget();
      </script>

      <h1 class="mt-5">Driiv</h1>
      <p class="lead">
        Please enter location, amount of data (in TB), time (minutes), internet
        speed (Mbps), and transfer medium.
      </p>
      <br />
      <div class="row" id="error"></div>

      <script>
        var x = <%= error %>
        console.log();
        if (x) {
            document.getElementById("error").innerHTML =
                '<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Something went wrong. Please Try Again</div>';
        }
      </script>

      <form method="POST" action="/api">
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          placeholder="Address"
          aria-label="Link for shortening"
          aria-describedby="basic-addon2"
        />
        <br />
        <input
          type="text"
          id="data_size"
          name="data_size"
          class="form-control"
          placeholder="Terabytes"
          aria-label="Link for shortening"
          aria-describedby="basic-addon2"
        />
        <br />
        <input
          type="text"
          id="time"
          name="time"
          class="form-control"
          placeholder="Minutes"
          aria-label="Link for shortening"
          aria-describedby="basic-addon2"
        />
        <br />
        <input
          type="text"
          id="int_speed"
          name="int_speed"
          class="form-control"
          placeholder="Mbps"
          aria-label="Link for shortening"
          aria-describedby="basic-addon2"
        />
        <br />
        <select class="form-control" name="device">
          <option>SD Card (160 MB/s)</option>
          <option>USB drive (180 MB/s)</option>
          <option>5200 RPM HDD (80 MB/s)</option>
          <option>7200 RPM HDD (100 MB/s)</option>
          <option>SSD (530 MB/s)</option>
          <option>NVME SSD (3000 MB/s)</option>
          <option>LTO7 Magnetic Tape (300 MB/s)</option>
        </select>
        <br />
        <label
          ><input type="checkbox" name="check" value="checked" /> Include
          offload time.</label
        >
        <br />
        <button class="btn btn-outline-secondary" type="submit">
          Submit
        </button>
        <small id="loginHelp" class="form-text text-muted"
          >Please enter transfer info.</small
        >
      </form>
    </main>
  </body>
</html>
